*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.fle{
margin-top: 50px;
}
.dis{
    background-color: rgb(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 00 5px 14px grey;
}
.but{
    text-align: center;
    margin: 20px 0px 3px 0px;
}
.but button{
 color: white; 
 font-weight: 800;  
width: 50%;
padding: 8px;
border: none;
border-radius: 10px;
/* background: linear-gradient(rgb(238, 19, 238),black); */
background: linear-gradient(rgb(94, 91, 91), grey);
}
.but button:hover{
    width: 70%;
    transition: .5s;
}


/* Login section */
.cyn{
    /* background-color: rgb(19, 79, 103); */
    background-color: rgb(243, 238, 238);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 00 5px 14px grey;   
}
.fl{
    margin-top: 100px;
  
}
.bu{
    text-align: center;
    margin: 20px 0px 3px 0px;   
}
.bu button{
    color: white; 
    font-weight: 800;  
   width: 50%;
   padding: 8px;
   border: none;
   border-radius: 10px;
   background: linear-gradient(rgb(191, 187, 187), grey);   
}
.bu button:hover{
    width: 70%;
    transition: .5s;
}
.la{
    color: grey;
}
.inp{
    background-color: rgb(0, 0, 0, 0.6);
}


/* Image Section */
.health{
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    padding: 10px 10px 10px 5px;
    text-align: center;
    border-radius: 5px;
}
.health h1{
    font-size: 24px;

}
.img1{
    background-color: ghostwhite;
    width: fit-content;
    margin-top: 10px ;
    border-radius: 10px;
    overflow: hidden;


}
.display1{
    padding: 10px 0px 5px 0px;
    background-color: rgb(0, 0, 0, 0.9);
    text-align: center;
}

.img1 img{
    width: 178px;
    height: 100%;
    background-color: whitesmoke;
}
.img1:hover{
    box-shadow: 00 5px 13px #4b4a4a;
    transition: .3s;
    }
    .img1 h1{
        font-size: 15px;
        color: whitesmoke;
        font-weight: 700;
     
    }
 
.img{

    background-color: ghostwhite;
    width: fit-content;
    padding:20px 10px 10px 10px;
    margin-top: 10px ;
    border-radius: 5px;
    overflow: hidden;
}
.img img{
    width: 165px;
    height: 180px;
    background-color: whitesmoke;

    /* width: 100%; */
}


.img:hover{
box-shadow: 00 5px 13px rgb(190, 190, 190);
/* transform: scale(1.05); */
transition: .3s;
overflow: hidden;
}
.img h1{
    font-size: 10px;
    color: rgb(94, 93, 93);
 
}
.img p{
    padding: 0;
    margin: 0;
    color: rgb(94, 93, 93);
    font-weight: 800;

}
.display{
    margin-top: 10px;
}

.nav{
    text-decoration: none;
    color: grey;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 30px;
}
.nv{
    text-decoration: none;
    color: grey;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 30px;
}
.nav:hover{
    color: orange;
}
.Him{
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.sell {
    text-decoration: none;
    color: orange;
    font-size: 13px;
    font-weight: 700;
}
.sell li{
    font-weight: 800;
}
.Md{
    font-size: 18px;
    color: orange;
}
.md{
    font-size: 12px;
    color: orange;
}

.m{
    font-size: 25px;
    color: orange;
}
.ne{
    font-weight: 750;
    font-size: 20px;
}
.li li{

    padding:0px 10px 10px 10px;
}
.li li:hover{
    background-color: rgb(253, 175, 31);
}
.nav1{
    padding: 5px;
}

.ul a{
    font-weight: 700;
}
.inp{
    width: 410px;
    background-color: white;
    border: none;
    outline: none;
    border: 1px solid grey;
    padding-left: 10px;
    border-radius: 5px;
}

.btn{
    border: none;
    outline: none;
    padding: 9px 15px;
    margin-left: 10px;
    color: white;
    background-color: orange;
    border-radius: 5px;
    box-shadow: 00 5px 10px gainsboro;
    font-size: 15px;
    font-weight: 700;
}
.btn:hover{
    background-color: rgb(234, 155, 10);
}

.icon{
    display: flex;
    align-items: baseline;
    
}
.icon p{
    font-weight: 600;
}
.icon:hover{
color: rgb(242, 161, 11);
transition: .2s;
}
.ico{
    font-size: 25px;
    margin-right: 5px;
    text-decoration: none;
    /* position: relative; */
}
.spa{
    position: relative;
    top: -13px;
    right: 15px;
    color: white;
    background-color: orange;
    font-size: 12px;
    border-radius: 50%;
    padding: 0px 5px;
    font-weight: 600;
}

.play{
    display: flex;
}
.arr{
    margin-left: 5px;
    font-size: 25px;
}

.paret{
 
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.bud{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
}
.bud img{
    width: 100%;
    height: 150px;
}


.navbar{
    animation: scale 5s infinite;
    padding: 25px;
    width: 100%;
} 

@keyframes scale{
    0% {background-image: url("jumia.jpg"); background-size: contain;}
    50% {background-image: url("jumia5.jpeg");background-size: contain;}
    100% {background-image: url("jumia6.jpeg"); background-size: contain; }
} 

.phone{
    background-color: rgb(6, 6, 122);
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    font-weight: 700;
    margin-top: 30px;
    /* margin-bottom: 0px; */
}

.caro{
    background-color: rgb(6, 6, 122);
    padding: 20px 0px 1px 0px;
}
.ani{
    animation: moves 10s infinite;
}


@keyframes moves{
    0% {background-image: url('cloth.jpg');background-size: 100% 100%;}
    50% {background-image: url('cloth2.jpg'); background-size: 100% 100%;}
    100% {background-image: url('cloth1.jpg'); background-size: 100% 100%;}

}
.anis{
    animation: move 10s infinite;
}

@keyframes move{
    0% {background-image: url('watch1.jpg');background-size: 100% 100%;}
    50% {background-image: url('jel.jpeg'); background-size: 100% 100%;}
    100% {background-image: url('watch2.jpg'); background-size: 100% 100%;}
}
.anis img {
    background-color: white;
}
.anima{
    animation: movement 15s infinite;
}

@keyframes movement{
    0% {background-image: url('shoe3.jpg');background-size: 100% 100%;}
    50% {background-image: url('shoe.jpg'); background-size: 100% 100%;}
    100% {background-image: url('shoe2.jpg'); background-size: 100% 100%;}

}
.splay{
    display: flex;
    align-items: center; 
    gap: 10px;

}
.splay h1{
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.Mes{
    color: orange;
    font-size: 35px;
}
.line{
    color: white;
}
.line h4{
    font-size: 15px;
}
.line p{
    font-size: 12px;
}
.input{
    display: flex;
    gap: 10px;
}
.line input{
    padding: 10px;
    width: 240px;
    outline-color: orange;
    border-radius: 5px;
    border: none;
}
.line button{
border: none;
padding: 10px 20px;
border-radius: 5px;
background-color: transparent;
border: 1px solid gainsboro;
color: white;
font-size: 13px;
font-weight: 600;
/* margin: 0px 5px; */
}
.line button:hover{
    border: 1px solid  rgb(255, 136, 0);
    color:  rgb(255, 136, 0);
    transition: .2s ease-in-out;
}

.access{
    display: flex;
    gap: 15px;
    color: white;
}

.Mess{
    padding: 5px;
    font-size: 40px;
    color: white;
    background-color:  orange;
    border-radius: 5px;
}
.access h4{
    font-size: 15px;
    font-weight: 600;
}
.access p{
    font-size: 12px;
}

.apps{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid gainsboro;
    color: white;
    margin: 0px 5px;
}
.apps:hover{
    border: 1px solid  rgb(255, 136, 0);
    color:  rgb(255, 136, 0);
    transition: .2s ease-in-out;  
}
.app{
display: flex;
justify-content: center;
align-items: center;
padding: 5px;
text-align: justify;
gap: px;
}
.app img{
    width: 30px;
}

.app h5{
    font-size: 10px;
    padding: 0;
    margin: 0;
    font-weight: 700;
}
.app p{
    font-size: 10px;
    padding: 0;
    margin: 0;
   
}
.lin{
    text-decoration: none;
    padding:0px 5px;

}
.lin {
    width: fit-content;
    color: ghostwhite;

}
.lin p{
    padding: 0;
    margin: 0;
    line-height: 0px;
    font-size: 11px;
    font-weight: 400;
}
.lin:hover {
    text-decoration: underline;
}

.link h4{
    font-size: 13px;
    font-weight: 650;
    color: white;
    padding: 0;
    margin: 0;
}
.inter{
    display: flex;
    gap: 30px;
}

.social{
    margin-top: 25px;
}

.social h4{
    font-size: 13px;
    font-weight: 650;
    color: white;
    padding: 0;
    margin: 0;
}
.soc{
    width: fit-content;
    color: ghostwhite;   
    text-decoration: none;
    font-size: 25px;
    padding: 8px 8px 0px 0px;

}
.soc:hover{
    color: orange;
    transition: .2s;
}

.footer{
    /* background-color: rgb(0, 0, 0, 0.7); */
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navv{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 10px;
}
.navv:hover{
    color: orange;
}
.famy{
    font-size: 12px;
    color: white;
    font-weight: 700;
}
.famy:hover{
    color: rgb(0, 153, 255);
}
.okay{
    text-decoration: none;
    padding:0px 5px; 
}

.mul{
    background-color: gainsboro;
    padding: 20px 20px 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.mul img{
    width: 100%;
}
.mul p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
}
.prod{
    margin-top: 20px;
}
.produt{
    background-color: gainsboro;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}
.produt h1{
    font-size: 15px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    padding-top: 10px;
    color: rgb(82, 79, 79);
}
.produt img{
   width: 250px;
   height: 250px;
}
.tails{
    display: flex;
    margin-top: 30px;
    gap: 9px;

}
.tails img{
    width: 90px;
    height: 90px;
    border: 1px solid orange;
}
.tails button{
    border: none;
}
